<!DOCTYPE html>

<html lang="en" id="ip2geoapp" class="ip2geoapp">
    <head id="head">
        <%- include("./partials/head"); %>
    </head>
    <body>
      <form id="form">
        <%- include("./partials/header"); %>
        <div class="center-block">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 title="Screenshot as a service">Enter any IP Address</h1>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" placeholder="e.g. 1.1.1.1" value="<%=ipaddress%>">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" title="Convert an IP address to Geolocation">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid full-width">
            <div class="result hide">
              <div class="row row-no-gutter">
                  <div class="col-md-12">
                    <h2 class="hide">Result</h2>
                    <div class="mapWrapper">
                      
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('./partials/footnote'); %>
      </form>
    </body>
    <%- include('./partials/footer'); %>
</html>